* {
    color: white;
    font-weight: normal;
}

h1:not(#title), h2, h3, h4, label, button, p, input {
    font-family: 'Open Sans', sans-serif;
}

h1#title {
    font-family: 'Chakra Petch', monospace;
    font-weight: 700;
    font-size: calc(24px * 1em);
    margin-bottom: calc(24/640 * 100vh);
}

h1, h2, h3, h4 {
    text-align: center;
}

h4, label {
    color: #7F8896;
}

.bold {
    font-weight: 700 !important;
}

/* Background Component */
    #background {
        background: linear-gradient(180deg, #06030E 0%, #200B36 100%);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #background main {
        position: absolute;
        width: 100%;
        padding: 0 calc(34/360 * 100vw);
        padding-top: calc(75/640 * 100vh);
    }

    #background img {
        position: absolute;
    }

    #background img.bottomLeftCoins {
        left: 20px;
        bottom: 14px;
    }

    #background img.bottomRightLights {
        right: 0;
        bottom: 0;
    }
/**/