/* Home */
#home {
    padding: 0 calc(34/360 * 100vw);
    padding-top: calc(75/640 * 100vh);
}

#home form {
    margin-top: calc(36/640 * 100vh);
}

#home input[type='checkbox'] + label {
    color: #E9EEF5;
    font-size: calc(16/360 * 100vw);
    padding-left: calc(12/360 * 100vw);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/**/