/* Roulette */
#roulette {
    position: absolute;
    width: calc(296/360 * 100vw);
    height: calc(296/360 * 100vw);
    margin: 0 calc(32/360 * 100vw);
}

#roulette > img.outer {
    width: 100%;
    height: 100%;
}

#roulette > .inner {        
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#roulette > .inner img {
    width: calc(92/360 * 100vw);
    height: calc(92/360 * 100vw);
    background-color: #1F0B35;
    border-radius: 50%;
}

#roulette > .inner * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#roulette > .inner button {
    width: calc(92/360 * 100vw);
    height: calc(92/360 * 100vw);
    z-index: 4;
}

#roulette .segments {
    left: 55%;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    transform: translateX(-50%);
}

#roulette .segment {
    position: absolute;
    width: 80%;
    z-index: 2;
    top: 40%;
}

#roulette .segment h2 {
    text-align: right;
}
/**/