body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: normal;
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1:not(#title), h2, h3, h4, label, button, p, input, ul, li, td, tr, th, thead, tbody {
    font-family: 'Open Sans', sans-serif;
}

h1#title {
    font-family: 'Chakra Petch', monospace;
    font-weight: 700;
}

h1, h2, h3, h4, hgroup {
    text-align: center;
}

h4, label {
    color: #7F8896;
}

.bold {
    font-weight: 700 !important;
    display: inline;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: 0;
}