#adbackground {
    padding: calc(32/640 * 100vh) calc(32/360 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#adbackground .background {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 0;
}

#adbackground .background img {
    width: 100%;
    padding: 0 calc(16/360 * 100vw);
}

#adbackground .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#adbackground .username {
    padding: 0 calc(10/360 * 100vw);
    height: calc(22/640 * 100vh);
    background-color: rgba(255,255,255,.2);
    border-radius: calc(12/360 *100vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

#adbackground .username h2 {
    font-weight: 600;
    font-size: calc(10/360 * 100vw);
}

#adbackground aside img{
    width: 100%;
}

#adbackground h2 {
    font-weight: 700;
}

#adbackground .backgroundCoins {
    position: absolute;
}