/*
Ref width: 360px
Ref height: 640px
*/

h1#title {
    font-size: calc(24/360 * 100vw);
    margin-bottom: calc(24/640 * 100vh);
}

.column {
    gap: calc(20/640 * 100vh);
}

.spacer {
    margin: calc(24/640 * 100vh) 0;
}

h2 {
    font-size: calc(16/360 * 100vw);
}

h3 {
    font-size: calc(12/360 * 100vw);
    display: inline-block;
}

p {
    font-size: calc(12/360 * 100vw);
    font-weight: 400;
    text-align: center;
}

button {    
    font-size: calc(14/360 * 100vw);
}

/* Form */
    .field {
        width: 100%;
        position: relative;
        margin-top: 4px;
        margin-bottom: calc(16/640 * 100vh);
    }

    .field h4 {
        text-align: left;
        padding: 8px 0 0 8px;
    }

    input[type='text']{
        width: 100%;
        height: calc(48/640 * 100vh);
        border: 1px solid #E9EEF5;
        border-radius: 8px;
        background-color: transparent;

        font-size: calc(16/360 * 100vw);
        
        padding: calc(14/360 * 100vw) calc(50/360 * 100vw) calc(14/360 * 100vw) calc(16/360 * 100vw);
    }

    .inputIcon {
        position: absolute;
        z-index: 2;
        width: calc(24/360 * 100vw);
        height: calc(24/360 * 100vw);
        right: calc(16/360 * 100vw);
        top: 50%;
        transform: translateY(-50%);
    }

    input[type='submit'] {
        display: inline-block;
        margin-top: calc(16/640 * 100vh);

        font-weight: 600;
        font-size: calc(16/360 * 100vw);
        height: calc(44/640 * 100vh);

        padding: 0 24px;
        
        background: linear-gradient(180deg, #6600E8 0%, #28007B 100%);
        box-shadow: 0px 8px 56px -10px rgba(127, 136, 150, 0.16);
        border: none;
        border-radius: 8px;
    }

    input[type='checkbox'] {
        width: calc(28/360 * 100vw);
        height: calc(28/360 * 100vw);
        border-radius: 4px;
    }
/**/

/* @media screen and (min-width: 481px) {
    body * {
        display: none !important;
    }

    body::after {
        content: 'Nosso sistema apenas suporta dispositivos móveis';
        color: black;
    }
} */