/* Background Component */
#background {
    background: linear-gradient(180deg, #06030E 0%, #200B36 100%);
    width: 100%;
    height: 100vh;
    position: absolute;
}

#background main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background img.bottomLeftCoins {
    left: 20px;
    bottom: 14px;
    position: absolute;
}

#background img.bottomRightLights {
    right: 0;
    bottom: 0;
    position: absolute;
}
/**/