/* Roulette */
.roulette {
    position: relative;
    width: calc(296/360 * 100vw);
    height: calc(296/360 * 100vw);
}

.roulette > img.outer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.roulette > .inner {        
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.roulette > .inner img:not(#tip) {
    width: calc(92/360 * 100vw);
    height: calc(92/360 * 100vw);
    background-color: #1F0B35;
    border-radius: 50%;
}

.roulette > .inner *:not(#tip) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.roulette > .inner button {
    width: calc(92/360 * 100vw);
    height: calc(92/360 * 100vw);
    z-index: 4;
}

.roulette #segments {
    left: 50%;
    top: 50%;
    position: absolute;

    width: 100%;
    height: 100%;

    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    transform: translate(-50%, -50%);

    border-radius: 50%;
}

.roulette #segments img {
    position: absolute;
    width: 83%;
    height: 83%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(15deg);
}

.roulette .segment {
    position: absolute;
    width: 80%;
    z-index: 2;
    top: 50%;
    left: 50%;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}

.roulette #tip {
    width: calc(17.73/360 * 100vw);
    height: calc(16.86/360 * 100vw);
    position: relative;
    bottom: calc(92/360 * 100vw / 2);
    transform: translateY(-18%);
}

@keyframes option0{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(0*30deg + 210deg + 720deg));
    }
}
@keyframes option1{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(1*30deg + 210deg + 720deg));
    }
}
@keyframes option2{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(2*30deg + 210deg + 720deg));
    }
}
@keyframes option3{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(3*30deg + 210deg + 720deg));
    }
}
@keyframes option4{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(4*30deg + 210deg + 720deg));
    }
}
@keyframes option5{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(5*30deg + 210deg + 720deg));
    }
}
@keyframes option6{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(6*30deg + 210deg + 720deg));
    }
}
@keyframes option7{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(7*30deg + 210deg + 720deg));
    }
}
@keyframes option8{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(8*30deg + 210deg + 720deg));
    }
}
@keyframes option9{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(9*30deg + 210deg + 720deg));
    }
}
@keyframes option10{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(10*30deg + 210deg + 720deg));
    }
}
@keyframes option11{
    from {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateZ(calc(11*30deg + 210deg + 720deg));
    }
}
/**/