/*
Ref width: 1440px
Ref height: 1024px
*/

/* Form */
.field {
    width: 100%;
    position: relative;
    margin-top: 4px;
    margin-bottom: 32px;
}

.field h4 {
    text-align: left;
    padding: 8px 0 0 8px;
}

.horizontalAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verticalAlign {
    display: flex;
    align-items: center;
}

.noScroll {
    overflow: hidden !important;
}

.spaceBetween {
    justify-content: space-between;
}

.relative {
    position: relative;
}

label {
    font-weight: 600;
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'], select{
    font-size: 16px;
    width: 100%;
    border: 1px solid #E9EEF5;
    border-radius: 8px;
    background-color: transparent;

    font-size: calc(16/1440 * 100vw);
    
    padding: calc(14/1024 * 100vh) calc(50/1440 * 100vw) calc(14/1024 * 100vh) calc(16/1440 * 100vw);

    -moz-appearance: textfield;
}

.inputIcon {
    position: absolute;
    z-index: 2;
    width: calc(24/1440 * 100vw);
    height: calc(24/1440 * 100vw);
    right: calc(16/1440 * 100vw);
    top: 50%;
    transform: translateY(-50%);
}

input[type='submit'] {
    display: inline-block;
    margin-top: calc(40/1024 * 100vh);

    font-weight: 600;
    font-size: calc(16/1440 * 100vw);

    padding: calc(12/1024 * 100vh) calc(36/1440 * 100vw);
    
    background: linear-gradient(180deg, #6600E8 0%, #28007B 100%);
    border: none;
    border-radius: 8px;
    
    cursor: pointer;
}

input[type='checkbox'] {
    width: calc(28/1440 * 100vw);
    height: calc(28/1440 * 100vw);
    border-radius: 4px;
    margin-right: calc(12/1440 * 100vw);
}

.field.checkbox {
    margin-top: 24px;
}

.checkboxLabel {
    color: #E9EEF5;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}
/**/

button, select, a {
    cursor: pointer;
}

.pageTitle {
    justify-content: space-between;
}

.pageTitle h1 {
    text-align: left;
    font-weight: 700;
    font-size: calc(24/1440 * 100vw);
    color: #BFC9DB;
}

.pageTitle input[type='text'] {
    width: calc(411/1440 * 100vw);
}

#home > main {
    margin: calc(120/1024 * 100vh) calc(64/1440 * 100vw) 0 calc(64/1440 * 100vw) !important;
}

:not(#login) > main{
    margin: calc(60/1024 * 100vh) calc(64/1440 * 100vw) 0 calc(64/1440 * 100vw);
    max-height: calc(571/1024 * 100vh);

    display: flex;
    flex-direction: column;
    gap: calc(44/1024 * 100vh);
}

:not(#login) main > div {
    gap: calc(40/1440 * 100vw);
}

.table {
    width: 100%;
    background-color: #221B2E;
    border-radius: 8px;
    padding: calc(32/1024 * 100vh) calc(32/1440 *100vw);

    border-spacing: calc(12/1024 * 100vh);
}

.table tr {
    height: calc(40/1024 * 100vh);
}

.table tr th {
    text-align: left;
    font-weight: 700;
    font-size: calc(14/1440 * 100vw);
    color: #E9EEF5;
}

.table tr td {
    font-size: calc(16/1440 * 100vw);
    font-weight: 400;
    color: #BFC9DB;
}

.table tr td button {
    font-weight: 400;
    font-size: calc(16/1440 * 100vw);
    text-decoration: underline;
    color: #E9EEF5;
    display: flex;
    align-items: center;
    gap: 10px;
}

.table tr td button img{
    width: calc(40/1024 * 100vh);
    height: calc(40/1024 * 100vh);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option {
    color: black;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(636/1440 * 100vw);
    background-color: #221B2E;
    border-radius: 8px;
    box-shadow: 24px;
    padding: 68px 120px;

    display: flex;
    flex-direction: column;
    gap: 44px;
}

#modal-title{
    font-weight: 700;
    margin-left: 30px;
    color: #BFC9DB;
}

#modal-description {
    font-size: 14px;
    font-weight: 600;
}

.modal-box label {
    font-size: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../assets/calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

input[type='date'] {
    width: 55%;
    padding: calc(14/1024 * 100vh) 20px calc(14/1024 * 100vh) calc(16/1440 * 100vw);
    background-color: transparent;
    border: 1px solid #BFC9DB;
    border-radius: 8px;

    color: #BFC9DB;
    font-size: calc(16/1440 * 100vw);
}

.formActions {
    align-self: flex-end;
    display: flex;
    gap: 24px;
}

.formActions .cancel {
    background: #BFC9DB;
    color:#28007B;
}

.payment {
    color: #7EB1FF !important;
}

.alignLeft {
    text-align: left;
    padding-left: 12px;
}

.formContainer {
    display: flex;
    flex-direction: column;

    width: calc(636/1440 * 100vw);
    background-color: #221B2E;
    border-radius: 8px;
    margin: calc(30/1024 * 100vh) auto;
    padding: calc(64/1024 * 100vh) calc(114/1440 * 100vw);

    gap: calc(24/1024 * 100vh);
}

.formTitle h1{
    font-weight: 700;
    margin-left: 30px;
    color: #BFC9DB;
}

.formContainer > h2 {
    text-align: left;
    margin-bottom: calc(20/1440*100vw);
    font-size: 16px;
    font-weight: 600;
}

.formActions input {
    margin: 0;
}