#createAd {
    overflow-y: auto;
}
#createAd .stageBar {
    gap: 28px;
}

#createAd .stageBar li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#createAd .stageBar li img {
    margin-right: 12px;
}

#createAd .stageBar li .currentStage {
    color: #F550CA;
}

#createAd .formContainer label {
    color:#7F8896;
}

#createAd input[type='text'] {
    color: #BFC9DB;
    font-size: calc(16/1440 * 100vw);
}

#createAd .dates {
    display: flex;
    align-items: center;
}

#createAd .dateSpacer {
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 16px;
}

#createAd .field {
    margin-bottom: 16px;
}

#createAd .chips {
    margin-bottom: 8px;
}

#createAd .field span {
    color: #7F8896;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    display: inline-block;
}

#createAd select{
    color: #BFC9DB;
    border: 1px solid #BFC9DB;
    margin-top: 5px;
}

#createAd .MuiChip-root {
    background-color: #BFC9DB;    
    border-radius: 4px;
}

#createAd .MuiChip-label {
    color: #00317C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: calc(12/1440 * 100vw);
    margin-right: 4px;
}

#createAd .imageInput {
    width: 100%;
}

#createAd .MuiButton-root {
    width: 100%;
    padding: 0;
}

#createAd .imageProgress {
    display: flex;
    height: calc(64/1024 * 100vh);
    width: 100%;
    padding: 12px 8px;
    align-items: center;
    justify-content: center;
    border: 3px dotted #BFC9DB;
    border-radius: 8px;
    gap: 8px;
    box-sizing: content-box;
}

#createAd .imageProgress img {
    width: calc(32/1024 * 100vh);
    height: calc(32/1024 * 100vh);
}

#createAd .progressBar {
    width: calc(328/1440 * 100vw);
    position: relative;
}

#createAd .loaded .progressBar .filename {
    color: #2AEE87 !important;
}

#createAd .progressBar .filename {
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 8px;
}

#createAd .progressBar .closeButton {
    position: absolute;
    top: 0;
    right: 0;
}

#createAd .progressBar .closeButton img {
    width: 20px;
    height: 20px;
}

#createAd .progressBar .MuiLinearProgress-root {
    height: 8px;
    border-radius: 8px;
}

#createAd .progressBar .MuiLinearProgress-colorPrimary {
    background-color: #BFC9DB;
}
#createAd .progressBar .MuiLinearProgress-barColorPrimary {
    background-color: #00C95F;
}