header {
    height: calc(60/1024 * 100vh);
    background: linear-gradient(180deg, #06030E 0%, #200B36 100%);
    padding: 0 calc(64/1440 * 100vw);
}

header h1#title {
    font-size: calc(18/1024 * 100vh);
}

header hgroup h3 {
    font-size: calc(10/1024 * 100vh);
}

.flexEnd {align-self: flex-end;}

header nav {
    min-width: calc(410/1440 * 100vw);
}

header nav button {
    font-weight: 700;
    font-size: calc(16/1024 * 100vh);
}
header button.dropdown {
    padding: 12px 16px;
    margin: 0 -16px;
}

header button.dropdown label {
    color: white;
    font-weight: 700;
    font-size: calc(16/1024 * 100vh);
    cursor: pointer;
}

header button.dropdown img {
    width: calc(24/1024 * 100vh);
    height: calc(24/1024 * 100vh);
    margin-left: 4px;
}

header ul.selectPopUp {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    margin: 5px -16px 0 -16px;

    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 calc(8/1024 * 100vh) calc(40/1024 * 100vh) 0 rgba(127, 136, 150, 0.16);
    transition: 1s;
    border-radius: 8px;
}

header ul.selectPopUp li {
    font-size: calc(16/1024 * 100vh);
    font-weight: 400;
    color: #E9EEF5;
    cursor: pointer;
}

.hide {
    display: none !important;
}