#registeredPrizes {
    overflow-y: scroll;
}

#registeredPrizes table {
    padding: calc(32/1440*100vw);
    background-color: #221B2E;

    border-spacing: calc(40/1440 * 100vw);
}

#registeredPrizes td {
    min-height: calc(220/1024 * 100vh);
    vertical-align: super;
    background: linear-gradient(180deg, #10061D 0%, #200B36 100%, #120721 100%);
    padding: calc(12/1440*100vw);
    border-radius: 8px;
}

#registeredPrizes .prizeCard {
    height: 100%;
    max-width: calc(282/1440 * 100vw);
    display: flex;
    align-items: flex-start;
    gap: 4px;
    overflow: hidden;
}

#registeredPrizes .prizeCard h3 {
    font-size: calc(16/1440 * 100vw);
}

#registeredPrizes .prizeCard h3.bold {
    margin-right: 10px;
    font-size: calc(14/1440 * 100vw);
}

#registeredPrizes .prizeCard :first-child {
    align-self: flex-end;
    gap: 10px;
    z-index: 3;
}

#registeredPrizes .prizeCard :first-child img {
    display: block;
}